body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Inconsolata";
}

.productMain {
  position: relative;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: auto;
}

.productContainer {
  display: none;
  flex-direction: row;
  position: relative;
  margin-top: 50px;
  color: #F3F2F2;
  width: 90%;
  /* height: 100%; */
  @media only screen and (max-width: 750px) {
    flex-direction: column;
    margin-top: 0px;
    width: auto;
  }
}



.productPic, .productSlideshow {
  max-height: 100%;
  width: calc(20rem + 20vw);
  @media only screen and (max-width: 750px) {
    /* max-height: 60%; */
    width: auto;
  }
}


.productPic img {
  width: 100%;
  height: auto;
  display: block;
}

.productDescription {
  margin-left: 20px;
  text-align: left;
  font-family: "Lato";
  moz-text-shadow: 0 4px 4px rgba(0, 0, 0, 0.347);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.347);
  
  /* height: 80%; */
  @media only screen and (max-width: 750px) {
    margin-left: 10px;
    margin-top: 10px;
  }
}


h1 {
  margin: 0;
  font-size: 40px;
  font-family: "Do Hyeon";
  font-weight: 400;
  moz-text-shadow: 0 4px 4px rgba(0, 0, 0, 0.347);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.347);
  @media only screen and (max-width: 450px) {
    font-size: 36px;
    margin-top: 15px;
  }
}

h3 {
  font-size: 32px;
  @media only screen and (max-width: 450px) {
    font-size: 28px;
    margin: 10px 0 10px 0;
  }
}


.splide {
  width: 100%;
}

.splideContainer {
  width: 100%;
  position: relative;
}

/* .splide__track {

} */


.splide__slide img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: scale-down;
  @media only screen and (max-width: 450px) {
    aspect-ratio: 4/3;
  }
}

.splide__arrows {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.splide__arrow {
  width: 70px;
  height: 70px;
  background-size:cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  @media only screen and (max-width: 450px) {
    width: 55px;
    height: 55px;
  }
}

.splide__arrow--prev {
  background-image: url('../icons/backArrowWhite.png');
}
.splide__arrow--prev:disabled {
  background-image: url('../icons/backArrowGrey.png');
  cursor: default;
}

.splide__arrow--next {
  background-image: url('../icons/forwardArrowWhite.png');
}
.splide__arrow--next:disabled {
  background-image: url('../icons/forwardArrowGrey.png');
  cursor: default;
}

.splide__pagination {
  display: none;
}


.productDescription p {
  margin-bottom: 10px;
  font-size: 24px;
  @media only screen and (max-width: 750px) {
    /* margin-bottom: 0px; */
  }
  @media only screen and (max-width: 450px) {
    font-size: 20px;
  }
}


.shopify-buy-frame--product {
  display: none !important;
}

/* .shopifyButtonArea {
  display: none;
} */