@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Do Hyeon";
  src: url("../fonts/dohyeon/FONT/DOHYEON.ttf")format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf")format("truetype");
}

html {
  font-size: 16px;
  --outline-color: rgb(176, 217, 253);
  --main-text-color: #1b1b1b;
  color: var(--main-text-color);
  height: 100%;
  width: 100%;
}

.realBody {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Inconsolata";
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
}

.tiled.background {
  background-color: #727273;
}

.tiledBGImg {
  width: 100%;
  height: 100%;
  background-image: url("../img/backgroundGeckos.png");
  background-size: cover;
  opacity: 0.14;
}


.sideNav {
  transition: 0.3s;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #1b1b1bd6;
  color: white;
  font-size: 36px;
  
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 450px) {
    background-color: #1b1b1be4;
    font-size: 30px;
  }
}
.sideNav.active {
  width: 30%;
  z-index: 2;
  @media only screen and (max-width: 450px) {
    width: 90%;
  }
}

.sideNav > * {
  display: none;
}
.sideNav.active > * {
  display: block;
}

.sideNav button {
  background-color: transparent;
  align-self: flex-end;
  font-family: "Lato";
  border: none;
  cursor: pointer;
  margin: 10px;
  @media only screen and (max-width: 450px) {
    align-self: flex-start;
  }
}

.sideNav button:hover {
  background-color: #757575;
  transition: 0.1s;
}

.sideNav button img {
  width: 50px;
  height: 50px;
}

.sideNav a, .sideNav a:visited {
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  border: 1px solid white;
  align-self: center;
  width: 85%;
  @media only screen and (max-width: 450px) {
    /* width: 85%; */
    padding: 10px;
  }
}

.sideNav a:hover {
  background-color: #757575;
  transition: 0.1s;
}










footer {
  position: relative;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(1rem + 1.5vw);
  /* padding-bottom: 1%; */
  margin: 20px 0px 20px 0px;
  @media only screen and (max-width: 450px) {
    margin: 10px 0px 10px 0px;
  }
}

.footerIcon {
  display: inline-block;
  height: 100%;
}

.footerIcon > img {
  height: 100%;
}





.otherHeader {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  background-color: #373737;
  height: 90px;
  @media only screen and (max-width: 750px) {
    justify-content: space-between;
  }
}

.headerLeft, .headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.otherHeaderIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(10px + 6rem);
  height: 80%;
  cursor: pointer;
}

.otherHeaderIcon > img {
  width: 30%;
}

.headerLogoSmall {
  display: flex;
  align-items: center;
  height: 100%;
}

.headerLogoSmall img {
  max-height: 100%;
  width: calc(5rem + 1.5vw);
}

.headerRight {
  color: white;
  font-size: calc(1.1rem + 0.5vw);
  /* padding-right: 20px; */
  display: flex;
  justify-content: end;
  flex: 1;
  @media only screen and (max-width: 750px) {
    padding-right: 0px;
    display: block;
    flex: none;
  }
}

.headerRight a {
  color: white;
  text-decoration: none;
  margin-left: calc(0.5rem + 1vw);
}

#headerNav {
  @media only screen and (max-width: 750px) {
    display: none;
  }
}

#headerShop {
  display: flex;
  @media only screen and (max-width: 750px) {
    display: flex;
  }
}

.shopify-buy-frame--toggle {
  top: 45px !important;
  margin-right: 10px !important;
  width: calc(5rem);
  height: 90px !important;
  display: block !important;
  z-index: 1 !important;
  visibility: hidden;
  /* margin-left: 10px !important; */
  /* background-image: url(../icons/cartWhite.png); */
}

.shopify-buy-frame--toggle > iframe {
  width: 100% !important;
  height: 100% !important;
}

.shopify-buy__cart-toggle {
  background-color: transparent;
  padding: 0;
  background-image: url('../icons/cartWhite.png');
  height: calc(2.5rem + 8vw);
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shopify-buy__cart-toggle:hover {
  background-color: transparent;
}

.shopify-buy__icon-cart {
  display: none;
}

.shopify-buy__cart-toggle__count {
  position: fixed;
  right: -15px;
  top: -10px;
  width: 25px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0;
}

/* .shopify-buy__product__variant-selectors {
  margin-top: 10px;
} */
