@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
}

html {
  font-size: 16px;
  --outline-color: rgb(176, 217, 253);
  --main-text-color: #1b1b1b;
  color: var(--main-text-color);
}

a, a:visited {
  color: var(--main-text-color);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Inconsolata";
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
}

#mainBG {
  background-image: url("../img/bandPic4.jpg");
  background-size: cover;
}

.mainHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding-top: calc(1rem + 1vh);
}

.headerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(4rem + 3vw);
  height: 100%;
}

.headerIcon > img {
  width: 45%;
}

#headerLogo {
  height: 100%;
  text-align: center;
}

#headerLogo img {
  max-height: 100%;
  width: calc(8rem + 3vw);
}

#mainNav {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 35px 0px 35px 0px;
  
}

#mainNav > a {
  
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: calc(1.5rem + 0.5vw);
  margin-right: calc(5px + 2vw);
  
  -moz-text-shadow: 0 0 8px var(--outline-color);
  text-shadow: 0 0 8px var(--outline-color);
  padding: 5px;
}

#mainNav > a:last-child {
  margin-right: 0;
}






#homeContainer {
  position: relative;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

#homeContent {
  width: 50%;
  height: 100%;
  border: 10px rgba(30, 30, 30, 0.596);
  border-style: outset;
  border-radius: 15px;
  font-weight: bold;
  text-decoration: none;
  -moz-text-shadow: 0 0 3px var(--outline-color);
  text-shadow: 0 0 3px var(--outline-color);

  overflow-y: scroll;
  
}

/* width */
#homeContent::-webkit-scrollbar {
  width: 15px;
}

/* Track */
/* #homeContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} */
 
/* Handle */
#homeContent::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.386); 
  border: 2px solid var(--outline-color);
  border-radius: 10px;
}

/* Handle on hover */
#homeContent::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.505); 
}

#spotifyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px 40px 20px;
}

#spotifyContainer > * {
  width: 50%;
}

#spotifyEmbed {
  height: 90px;
}

#homeMerchContainer > h1 {
  text-decoration: underline;
}

#homeMerch {
  display: flex;
  flex-direction: column;
}

.merchRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  padding-bottom: 20px; 
}

.merchItem {
  width: 50%;
  display: flex;
  justify-content: center;
}

.merchItem img {
  width: 80%;
  /* height: 60%; */
}



/* .shopify-buy-frame--product {
  display: none !important;
} */




footer {
  position: relative;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  /* padding-bottom: 1%; */
  margin: 20px 0px 20px 0px;
}

.footerIcon {
  display: inline-block;
  height: 100%;
}

.footerIcon > img {
  height: 100%;
}





.otherHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #373737;
  height: 90px;
}

.headerLeft, .headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.otherHeaderIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(4rem + 1.5vw);
  height: 80%;
}

.otherHeaderIcon > img {
  width: 35%;
}

.headerLogoSmall {
  display: flex;
  align-items: center;
  height: 100%;
}

.headerLogoSmall img {
  max-height: 100%;
  width: calc(5rem + 1.5vw);
}

.headerRight {
  color: white;
  font-size: calc(1.1rem + 0.5vw);
  padding-right: 20px;
}

.headerRight a {
  color: white;
  text-decoration: none;
  margin-left: calc(0.5rem + 1vw);
}