@font-face {
  font-family: "Inconsolata";
  src: url("fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#background {
  width: 100%;
  height: 100%;
  background-image: url("img/bandPic4.jpg");
  background-size: cover;
  position: absolute;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  padding-top: 1%;
}

.headerIconArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}

.headerIcon {
  width: 35%;
}

#headerLogo {
  background-image: url("img/logoCropped.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 100%;
}

#mainNav {
  position: relative;
  width: 100%;
  height: 5%;
  text-align: center;
  margin-top: 35px;
  --outline-color: rgb(176, 217, 253);
}

#mainNav > a {
  font-family: "Inconsolata";
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: calc(1rem + 1vw);
  margin-right: calc(5px + 2vw);
  color: #373737;
  /* color: rgb(126, 19, 19); */
  /* background-color: white; */
  /* -webkit-text-stroke: 0.25px white; */
  text-shadow: -.25px -.25px 0 var(--outline-color), .25px -.25px 0 var(--outline-color), .25px .25px 0 var(--outline-color),
  .25px .25px 0 var(--outline-color);
  padding: 5px;
}

#mainNav > a:last-child {
  margin-right: 0;
}

footer {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding-bottom: 10px;
}

.footerIconArea {
  display: inline-block;
  height: 100%;
}

.footerIcon {
  height: 80%;
}